.users-wrapper {
  margin: 40px;
  width: min-content;
  .top {
    font-size: 24px;
    font-weight: 700;
  }
  .search-bar {
    width: 300px;
    margin-top: 20px;
  }
  .input-add {
    margin-top: 20px;
  }

}