.user {
  display: flex;
  align-items: center;
  margin: 20px 20px 0 0;
  &__fullname {
    width: 200px;
    font-weight: bolder;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
  }
  &__email {
    margin-left: 20px;
    width: 200px;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
  }
  &__btn-edit {
    margin-left: 40px;
    width: 128px;
    .ant-btn {
      border-color: #14bb48;
      color: #14bb48;
    }
  }
  &__btn-delete {
    margin-left: 20px;
    .ant-btn {
      border-color: #dc1e1e;
      color: #dc1e1e;
    }
  }
}